<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS</title>
    <style>
        body{
            background-color: limegreen;
            text-align: center;
            font-family: Arial,sans-serif;
            font-size: 30px;
            margin: 0;
        }
        nav{
            background-color: black;
            padding: 10px;
        }
        nav a{
            color: white;
            text-decoration: none;
            margin: 0 20px 20px 0;
        }

    </style>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>

</nav>
  <div>
     <h2>About US</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda eveniet quaerat quo quos recusandae vitae? Alias asperiores dolores ducimus maiores optio quas quidem sint tenetur unde velit! Aut, officiis.30</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque debitis dolor eius error expedita hic, molestiae molestias nemo nostrum odio quibusdam rem repudiandae sint sunt, tenetur vitae? Exercitationem, placeat.50</p>
  </div>
</body>
</html>